.console {
  width: 100% !important;
}

.console-out {
  height: 50vh;
  min-height: 400px;
  background-color: var(--background-color);

  font-family: monospace;
  font-size: 0.8rem;

  overflow: auto;
}

.console-command {
  color: rgb(139, 139, 255);
}

.console-out p {
  margin: 0;
  padding: 0.25rem 0.5rem;
  white-space: pre;
  width: max-content;
  min-width: 100%;
}

.console-in {
  border: 0 !important;
  border-top: 1px solid rgba(255, 255, 255, 0.16) !important;

  font-family: monospace;
  font-size: 1rem;
}
