.console-out {
    height: 50vh;
    min-height: 450px;
    background-color: var(--background-color);

    font-family: monospace;
    font-size: 1rem;
}

.console-command {
    color: rgb(139, 139, 255);
}

.console-out p {
    margin: 0;
    padding: 0.25rem 0.5rem;
}

.console-in {
    border: 0 !important;
    border-top: 1px solid rgba(255, 255, 255, 0.16) !important;

    font-family: monospace;
    font-size: 1rem;
}